
            <div class="breadcrumb-section">
            	<div class="container">
                	<h1>Nova Historia</h1>
                    <div class="breadcrumb">
                        <a href="index.html">Home</a>
                        <span class="fa fa-angle-double-right"></span>
                        <span class="current">Nova Historia</span>
                    </div>
                </div>
            </div>
            <!--breadcrumb-section ends-->
            <!--container starts-->
            <div class="container">
            	<!--primary starts-->
            	<section id="primary" class="content-full-width">
                
                	<div class="column dt-sc-one-third first">
                        <div class="dt-sc-ico-content type3">
                            <div class="icon"> 
                            	<span class="fa fa-star"> </span> 
                            </div>
                            <h4><a href="#" target="_blank">Noite </a></h4>
                            <p>Nunc at pretium est curabitur commodo leac est venenatis egestas sed aliquet auguevelit. Curabitur vulputate, ligula lacinia scelerisque</p>
                        </div>
                    </div>
                    
                    <div class="column dt-sc-one-third">
                        <div class="dt-sc-ico-content type3">
                            <div class="icon"> 
                            	<span class="fa fa-sun-o"> </span> 
                            </div>
                            <h4><a href="#" target="_blank"> Dia </a></h4>
                            <p>Nunc at pretium est curabitur commodo leac est venenatis egestas sed aliquet auguevelit. Curabitur vulputate, ligula lacinia scelerisque</p>
                        </div>
                    </div>
                    
                    <div class="column dt-sc-one-third">
                        <div class="dt-sc-ico-content type3">
                            <div class="icon"> 
                            	<span class="fa fa-smile-o"> </span> 
                            </div>
                            <h4><a href="#" target="_blank"> Qualquer hora </a></h4>
                            <p>Nunc at pretium est curabitur commodo leac est venenatis egestas sed aliquet auguevelit. Curabitur vulputate, ligula lacinia scelerisque</p>
                        </div>
                    </div>
                    
                    <div class="dt-sc-hr"></div>
                    
                    <h2 class="dt-sc-hr-green-title"> Local </h2>
                    <a href="montar.html">
                    <div class="column dt-sc-one-fourth first">
                    	<div class="activity box1">
                        	<h4> Cozinha </h4>
                            <img src="images/cozinha.jpg" alt="" title="">
                            <p>Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu</p>
                        </div>
                    </div>
                    </a>
                    <a href="#!/montar/quarto">
                    <div class="column dt-sc-one-fourth">
                    	<div class="activity box2">
                        	<h4> Quarto </h4>
                            <img src="images/quarto.jpg" alt="" title="">
                            <p>Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu</p>
                        </div>
                    </div>
                    </a>
                    
                    <a href="#!/montar/aula">
                    <div class="column dt-sc-one-fourth">
                    	<div class="activity box3">
                        	<h4> Sala De Aula </h4>
                            <img src="images/salaDeAula.jpg" alt="" title="">
                            <p>Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu</p>
                        </div>
                    </div>
                    </a>

                    <a href="#!/montar/sala">
                    <div class="column dt-sc-one-fourth">
                    	<div class="activity box4">
                        	<h4> Sala </h4>
                            <img src="images/sala.jpg" alt="" title="">
                            <p>Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu</p>
                        </div>
                    </div>
                    </a>
                    
                    <div class="dt-sc-hr"></div>
                    
                   
                  
                </section>
                <!--primary ends-->
            </div>
